<div class="blog-post">
  <p class="blog-post-title">{{answer.statement}}</p>
  <p class="blog-post-meta">By: {{answer.answerAuthor}}</p>
  <button class="btn btn-danger" {{action 'delete' answer}}>Delete this answer</button>
</div>
