<h2>{{list.author}}</h2>
<p>{{list.question}} </p>
<p><a class="btn btn-default" {{action 'viewDetails'}} role="button">View details &raquo;</a></p>
<button class="btn btn-danger" {{action 'delete' list}}>Delete</button>
