<form class="question">
  <label for="answerAuthor">Name: </label>
  {{input type="text" id="answerAuthor" value=answerAuthor placeholder="your name"}}
  <br>
  <label for="statement">Answer: </label>
  {{textarea class="form-control" id="statement" rows="3" value=statement placeholder="Type your answer here ..."}}
  <button {{action 'save'}} class="btn btn-primary btn-block">post your question</button>
</form>
